@model UsuarioDTO
@{
    ViewBag.Title = "MeuPerfil";
    Layout = "~/Views/Shared/_LayoutMeuPerfil.cshtml";
}

<div class="container-fluid h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-6 col-lg-6 col-xl-12 card h-100 rounded-xxl w-100 p-0 align-items-center" style="background-color: #D9D9D9;">
            <div class="w-100 pt-2 row" style="border-bottom:5px solid black;">
                <div class="col align-self-end">
                    <h2 class="text-center">@Model.TxNome</h2>
                </div>
            </div>
            <div class="h-75 w-50 p-3">
                @using (Html.BeginForm("EditarUsuario", "MeuPerfil", FormMethod.Post, new { @id = "form-MeuPerfil" }))
                {
                    var CorForm = "background: #EDECEC";
                    <div class="row mb-3">
                        <div class="col-12">
                            @Html.Label("Nome", new { @class = "font-weight-bold" }) <span class="text-warning display-17px font-weight-bold">*</span>
                            @Html.TextBoxFor(x => x.TxNome, "", new { @class = "form-control", @style = CorForm, @required = true, @readonly = "true" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            @Html.Label("E-mail", new { @class = "font-weight-bold" }) <span class="text-warning display-17px font-weight-bold">*</span>
                            @Html.TextBoxFor(x => x.TxEmail, "", new { @class = "form-control", @style = CorForm, @required = true, @readonly = "true" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            @if (Session["TpUsuario"].ToString() == "F")
                            {
                                @Html.Label("CPF", new { @class = "font-weight-bold" }) <span class="text-warning display-17px font-weight-bold"></span>
                                <label class="form-control bg-gray" style = "background-color: #EDECEC">@Session["TxIdentificador"].ToString()</label>
                            }
                            else if (Session["TpUsuario"].ToString() == "J")
                            {
                                @Html.Label("CNPJ", new { @class = "font-weight-bold" }) <span class="text-warning display-17px font-weight-bold"></span>
                                <label class="form-control" style = "background-color: #EDECEC">@Session["TxIdentificador"].ToString()</label>
                            }
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            @Html.Label("Telefone", new { @class = "font-weight-bold" }) <span class="text-warning display-17px font-weight-bold">*</span>
                            @Html.TextBoxFor(x => x.TxTelefone, "", new { @class = "form-control", @style = CorForm, @required = true, @readonly = "true" })
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            @Html.Label("Endereço", new { @class = "font-weight-bold" }) <span class="text-warning display-17px font-weight-bold">*</span>
                            @Html.TextBoxFor(x => x.TxEndereco, "", new { @class = "form-control", @style = CorForm, @required = true, @readonly = "true" })
                        </div>
                    </div>
                    <div style="overflow:auto;">
                        <div style="float:right;">
                            <button type="button" class="btn btn-secondary" id="btnEditar" onclick="ativaEditar()" style="background: #4692E8;">Editar</button>
                            <button type="button" class="btn btn-secondary" id="btnCancelar" onclick="desativaEditar()" style="display: none; background: #E84646; ">Cancelar</button>
                            <button type="submit" class="btn btn-secondary" id="btnSalvar" style="display: none; background: #4692E8; ">Salvar</button>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>

<script>
    function ativaEditar() {
        document.getElementById("btnCancelar").style.display = "inline";
        document.getElementById("btnSalvar").style.display = "inline";
        document.getElementById("btnEditar").style.display = "none";

        document.getElementById("TxNome").style.backgroundColor = "#FFFEFE";
        document.getElementById("TxTelefone").style.backgroundColor = "#FFFEFE";
        document.getElementById("TxEndereco").style.backgroundColor = "#FFFEFE";

        $("#TxNome").removeAttr("readonly");
        $("#TxTelefone").removeAttr("readonly");
        $("#TxEndereco").removeAttr("readonly");

    };

    function desativaEditar() {
        document.getElementById("btnCancelar").style.display = "none";
        document.getElementById("btnSalvar").style.display = "none";
        document.getElementById("btnEditar").style.display = "inline";

        document.getElementById("TxNome").style.backgroundColor = "#EDECEC";
        document.getElementById("TxTelefone").style.backgroundColor = "#EDECEC";
        document.getElementById("TxEndereco").style.backgroundColor = "#EDECEC";

        $("#TxNome").prop('readonly', true);
        $("#TxTelefone").prop('readonly', true);
        $("#TxEndereco").prop('readonly', true);
    };

    function salvarEdicao() {

    }

</script>