@model LivroMOD

<style>
    .dados-livro {
        border-radius: 34px;
        background-color: #ECECEC;
        padding: 2rem;
    }
</style>

<div class="row pb-4">
    <div class="col-12">
        <div class="row dados-livro">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="text-center">
                    <img class="card-img-top w-50" src="@Model.TxUrlFoto" alt="Imagem Livro">
                </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="row">
                    <div class="col-6">
                        @Html.Label("Status", new { @class = "font-weight-bold" })
                        @if (Model.Status.CdStatusLivro == 1)
                        {
                            <p><label class="bg-success text-white p-2 rounded">DOADO</label></p>
                        }
                        else if (Model.Status.CdStatusLivro == 2)
                        {
                            <p><label class="bg-danger text-white p-2 rounded">PENDENTE</label></p>
                        }
                    </div>
                    <div class="col-6">
                        @Html.Label("Nome do Livro", new { @class = "font-weight-bold" })
                        <p>@Model.TxNome</p>
                    </div>
                    <div class="col-6">
                        @Html.Label("Categoria do Livro", new { @class = "font-weight-bold" })
                        <p>@Model.Categoria.TxNome</p>
                    </div>
                    <div class="col-6">
                        @Html.Label("Autor", new { @class = "font-weight-bold" })
                        <p>@Model.TxAutor</p>
                    </div>
                    <div class="col-6">
                        @Html.Label("Idioma", new { @class = "font-weight-bold" })
                        <p>@Model.TxIdioma</p>
                    </div>
                    <div class="col-6">
                        @Html.Label("Edicao", new { @class = "font-weight-bold" })
                        <p>@Model.TxEdicao</p>
                    </div>
                </div>
            </div>
            @if (Model.Status.CdStatusLivro == 2)
            {
                <div class="col-12">
                    @if (Convert.ToInt32(User.Identity.Name) == ViewBag.CdUsuario)
                    {
                        <a class="btn btn-secondary float-right" title="Usuário não é o responsável pela solicitação">Não é possivel Doar - Responsável Solicitação</a>
                    }
                    else
                    {
                        <a class="btn btn-success float-right" href=@String.Format("/Solicitacao/RealizarDoacao?CdSolicitacao={0}&CdLivro={1}", ViewBag.CdSolicitacao, Model.CdLivro)>Doar</a>
                    }
                </div>
            }
        </div>
    </div>
</div>